# ------------------------------------------------------------------------------
# Сборка MkDocs (статический сайт генерируется автоматически)
# ------------------------------------------------------------------------------
site/
.cache/

# ------------------------------------------------------------------------------
# Секреты и сертификаты (чтобы случайно не закоммитить реальные ключи)
# ------------------------------------------------------------------------------
*.env
.env.*
*.key
*.pem
*.crt
*.csr

# ------------------------------------------------------------------------------
# Python и виртуальное окружение
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# ------------------------------------------------------------------------------
# Системные файлы и логи
# ------------------------------------------------------------------------------
*.log
.DS_Store
Thumbs.db

# ------------------------------------------------------------------------------
# Редакторы кода и IDE
# ------------------------------------------------------------------------------
.idea/
.vscode/
*.swp
*.swo
